<header>
  <div class='page-header'>
    <h1><a class="school-title" href="/school/{{school/id}}">{{school/name}}</a></h1>
  </div>
  <ul class='nav nav-pills'>
    <li role='presentation'
      {{#isEqual type undefined}} class='active' {{/isEqual}}
    >
      <a href='/school/{{school/id}}'>전체</a>
    </li>
    <li role='presentation'
      {{#isEqual type 'notice'}} class='active' {{/isEqual}}
    >
      <a href='/school/{{school/id}}?type=notice'>공지사항</a>
    </li>
    <li role='presentation'
      {{#isEqual type 'parent_letter'}} class='active' {{/isEqual}}
    >
      <a href='/school/{{school/id}}?type=parent_letter'>가정통신문</a>
    </li>
    <li role='presentation'
      {{#isEqual type 'school_meal_news'}} class='active' {{/isEqual}}
    >
      <a href='/school/{{school/id}}?type=school_meal_news'>급식 소식</a>
    </li>
    <li role='presentation'
      {{#isEqual type 'today_school_meal'}} class='active' {{/isEqual}}
    >
      <a href='/school/{{school/id}}?type=today_school_meal'>오늘의 급식</a>
    </li>
  </ul>
</header>