<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>NHN EDU PYTHON CRAWLING</title>
    <link
      rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'
    />
    <style>
      body { margin: auto; width: 1080px; } main { margin-top: 50px; }
    </style>
  </head>

  <body>
    {{> list_header}}
    <main>
      <div class='panel panel-default'>
        <!-- Default panel contents -->
        <div class='panel-heading'>총 {{count}}건, 마지막 업데이트: {{lastUpdate}} </div>

        <!-- Table -->
        <table class='table'>
          <colgroup>
            <col width='*' />
            <col width='20%' />
            <col width='20%' />
          </colgroup>
          <thead>
            <tr>
              <th>제목</th>
              <th>작성자</th>
              <th>작성일</th>
            </tr>
          </thead>
          <tbody>
            {{#posts}}
              <tr>
                <td><a href="/post/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{uploadAt}}</td>
              </tr>
            {{/posts}}
          </tbody>
        </table>
      </div>
    </main>
  </body>

</html>