<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>서울서이초등학교</title>
    <link
      rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'
    />
    <style>
      body { margin: auto; width: 1080px; } main { margin-top: 50px; }
      .file_button_wrap { margin: 5px; }
    </style>
  </head>

  <body>
    {{#isEqual uploadAt undefined}}
      <script>
        alert('찾을 수 없는 게시물입니다.') window.history.back()
      </script>
    {{/isEqual}}

    <header>
      <div class='page-header'>
        <h1>서울서이초등학교</h1>
      </div>
      <ul class='nav nav-pills'>
        <li role='presentation'><a href='/?type=notice'>공지사항</a></li>
        <li role='presentation'><a
            href='/?type=parent_letter'
          >가정통신문</a></li>
        <li role='presentation'><a href='/?type=school_meal'>급식게시판</a></li>
        <li role='presentation'><a
            href='/?type=school_meal_menu'
          >급식메뉴</a></li>
      </ul>
    </header>
    <main>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class='panel-title'>{{uploadAt}} [{{type}}]</h3>
        </div>
        <div class='panel-body'>
          <div class='content'>
            {{menu}}
            {{#if imageUrl}}
            <hr />
            <h5>식단 이미지</h5>
            <img src="{{imageUrl}}" alt="서울서이초등학교 {{uploadAt}} {{type}} 급식 이미지"/>
            {{/if}}
          </div>
          </div>
        </div>
      </div>

    </main>
  </body>

</html>