<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>NHN EDU PYTHON CRAWLING</title>
    <link
      rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'
    />
    <style>
      body { margin: auto; width: 1080px; } main { margin-top: 50px; }
      .file_button_wrap { margin: 5px; }
      .school-title { color: #000; }
    </style>
  </head>

  <body>
    {{> detail_header}}
    <main>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class='panel-title'>{{title}} <small>by {{author}}</small></h3>
        </div>
        <div class='panel-body'>
          등록일:
          {{uploadAt}}
          <hr />
          <div class='content'>
            {{{content}}}
          </div>
          {{#if attachedFiles/length}}
            <hr />
            <div class='file_box'>
              <h4>첨부파일 <small>클릭 시 다운로드합니다.</small></h4>
              {{#each attachedFiles}}
                <div class='file_button_wrap'>
                  <button
                    onclick="location.href='{{downloadUrl}}'"
                    type='button'
                    class='btn btn-default'
                  >
                    {{name}}
                    <small>({{size}})</small>
                  </button>
                </div>
              {{/each}}
            {{/if}}
          </div>
        </div>
      </div>

    </main>
  </body>

</html>